@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
/* Add a background color to the chat screen */
body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: #ffffff;
    background-size: cover;
    background-position: center;
    font-smooth: antialiased;
    text-align: center;
  }
  

  
  /* Style the chat box */
  .chat-box {
    margin: 0 auto;
    width: 50%;
    max-width: 100%;
    background-color: #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    max-height: calc(100vh - 250px);
    height: calc(100vh - 250px);
  }

  
  /* Style the chat box header */
  .chat-box-header {
    background-color: #737577;
    color: #ffffff;
    padding: 16px;
    font-size: 20px;
    font-weight: bold;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
  
  /* Style the chat box body */
  .chat-box-body {
    padding: 16px;
    overflow-y: auto;
    height: calc(100% - 145px);
  }
  
  /* Style the chat messages */
  .chat-box-body .message,
  .chat-box-body .response {
    margin-bottom: 16px;
    padding: 8px 110px;
    border-radius: 8px;
    white-space: pre;
    text-align: center;
  }
  
  /* Style the user's messages */
  .chat-box-body .message {
    background-color: #e6e6e6;
    color: #333333;
  }
  
  /* Style the chatbot's responses */
  .chat-box-body .response {
    background-color:#737577;;
    color: #ffffff;
    text-align: center;
  }
  
  /* Style the chat box footer */
  .chat-box-footer {
    bottom: 0;
    display: flex;
    align-items: center;
    background-color: #ffffff;
    border-top: 1px solid #e6e6e6;
    padding: 8px 16px;
  }
  
  /* Style the input field */
  .chat-box-footer input[type="text"] {
    flex: 1;
    padding: 8px;
    border: 1px solid #e6e6e6;
    border-radius: 8px;
    font-size: 16px;
    outline: none;
  }
  
  /* Style the button */
  .chat-box-footer button {
    margin-left: 8px;
    padding: 8px 16px;
    background-color: #737577;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }
  
  /* Add some hover effects to the button */
  .chat-box-footer button:hover {
    background-color: #737577;
  }
  
  .chat-box-footer button:active {
    background-color: #737577;
  }
  
  /*.showcase .form-control {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: #ccc;
  }*/
 


.form-control {
  position: relative;

}



  



/* SELECTOR BOX */
  
* {
  margin: 0;
  padding: 0;
}
*,
*:after,
*:before {
  box-sizing: border-box;
}
* {
  outline: none;
}
::-webkit-scrollbar {
  display: none;
}
/* */
.container {
  margin: 0 auto;
  max-width: 400px;
  text-align: center;
}
.selected-item {
  margin: 20px 0;
}
/* custom select style */
.cusSelBlock {
  height: 50px;
  min-width: 250px;
}
#cusSelectbox {
  height: 100%;
  width: 100%;
}
.s-hidden {
  visibility: hidden;
}
.cusSelBlock {
  display: inline-block;
  position: relative;
  perspective: 800px;
}
.selectLabel {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 9999;
  background-color: #fff;
  border: 1px solid #333;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  color: #333;
  cursor: pointer;
  display: block;
  height: 100%;
  width: 100%;
  letter-spacing: 2px;
  line-height: 50px;
  padding: 0 50px 0 20px;
  text-align: left;
  transform-style: preserve-3d;
  transform-origin: 50% 0%;
  transition: transform 300ms;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.selectLabel:after {
  content: '\25BC';
  border-left: 1px solid #333;
  color: #333;
  font-size: 12px;
  line-height: 17px;
  padding: 10px;
  text-align: center;
  position: absolute;
  right: 0px;
  top: 15%;
  height: 70%;
  width: 50px;
}
.selectLabel:active {
  transform: rotateX(30deg);
}
.selectLabel:active:after {
  content: '\25B2';
}
.selectLabel.active:after {
  content: '\25B2';
}
::-webkit-scrollbar {
  display: none;
}
.options {
  position: absolute;
  top: 50px;
  height: 1px;
  width: 100%;
}
.options li {
  background-color: #ffffff;
  border-left: 1px solid #333;
  border-right: 1px solid #333;
  border-bottom: 1px solid #333;
  cursor: pointer;
  display: block;
  line-height: 50px;
  list-style: none;
  opacity: 1;
  padding: 0 50px 0 20px;
  text-align: left;
  transition: transform 300ms ease;
  position: absolute;
  top: -50px;
  left: 0;
  z-index: 0;
  height: 50px;
  width: 100%;
}
.options li:hover,
.options li.active {
  background-color: #333;
  color: #fff;
}
.options li:nth-child(1) {
  transform: translateY(2px);
  z-index: 6;
}
.options li:nth-child(2) {
  transform: translateY(4px);
  z-index: 5;
}
.options li:nth-child(3) {
  z-index: 4;
}
.options li:nth-child(4) {
  z-index: 3;
}
.options li:nth-child(5) {
  z-index: 2;
}
.options li:nth-child(6) {
  z-index: 1;
}